[submodule "Outros/Scratch/Blocos"]
	path = Outros/Scratch/Blocos
	url = https://github.com/GustavoTxFreitas/scratch-blocks-explained.git
[submodule "Frameworks/React/conversor__monetario"]
	path = Frameworks/React/conversor__monetario
	url = https://github.com/GustavoTxFreitas/react-currency-converter.git
[submodule "Frameworks/React/conversor__binario_decimal"]
	path = Frameworks/React/conversor__binario_decimal
	url = https://github.com/GustavoTxFreitas/react-bin2dec
[submodule "Frameworks/React/texto__criptografia"]
	path = Frameworks/React/texto__criptografia
	url = https://github.com/GustavoTxFreitas/react-cipher-playground.git
[submodule "Frameworks/React/estilo__bordas_arredondadas"]
	path = Frameworks/React/estilo__bordas_arredondadas
	url = https://github.com/GustavoTxFreitas/react-border-radius.git
[submodule "Frameworks/React/texto__emojis"]
	path = Frameworks/React/texto__emojis
	url = https://github.com/GustavoTxFreitas/react-clipboard-emoji.git
